# Start of script
# I am going to keep trying on this until I get it right
# @seanpm2001 is the global code owner for this project
/// @seanpm2001
/ @seanpm2001
/* @seanpm2001
* seanpm2001
# Directories at root
/!Cloud/ @seanpm2001
/.github/ @seanpm2001
/API/ @seanpm2001
/Alt-Kernel/XNU/ @seanpm2001
/Apple/Documentation/ @seanpm2001
/AppleScript/ @seanpm2001
/Architectures/ @seanpm2001
/Assembly/Latest/ @seanpm2001
/AssemblyScript/Latest/ @seanpm2001
/Audio/Reference/Classic-Mac-OS/Sosumi/ @seanpm2001
/Basys/ @seanpm2001
/Browser/ @seanpm2001
/C++/Latest/ @seanpm2001
/C/Latest/ @seanpm2001
/Community/Projects/Images/iOS6/ @seanpm2001
/DOSMode/ @seanpm2001
/DesktopEnvironment/ @seanpm2001
/DevNotes/ @seanpm2001
/Docs/Developers/Language/ @seanpm2001
/Drivers/x64/AMD/ @seanpm2001
/External/ @seanpm2001
/FileSystems/ @seanpm2001
/Fonts/ @seanpm2001
/Graphics/ @seanpm2001
/Home/ @seanpm2001
/Installer/Demo/2021/May25th2021/ @seanpm2001
/Java/ @seanpm2001
/Kernel/ @seanpm2001
/Kiri/ @seanpm2001
/LIBraries/ @seanpm2001
/Login/PyW/ @seanpm2001
/Motorola/Assembly/Latest/ @seanpm2001
/Objective-C++/Latest/ @seanpm2001
/Objective-C/Latest/ @seanpm2001
/OldVersions/ @seanpm2001
/OpenEdge_ABL/Latest/ @seanpm2001
/OpenGL/Latest/ @seanpm2001
/OpenGS/ @seanpm2001
/PHP/Latest/ @seanpm2001
/Pascal/Latest/ @seanpm2001
/Perl/5/ @seanpm2001
/Programs/Legacy/ @seanpm2001
/Python/Latest/ @seanpm2001
/Quantum/Q#/ @seanpm2001
/RepoData/ @seanpm2001
/Rust/ @seanpm2001
/SirIsaacNewtonScript/ @seanpm2001
/SirIssacNewtonOS/ @seanpm2001
/Swift/Latest/ @seanpm2001
/System/FileSystem/ @seanpm2001
/TeX/LaTeX/3/Latest/ @seanpm2001
/ThemeManager/WacMode/ @seanpm2001
/TypeScript/Latest/ @seanpm2001
/Unicode/UTF-8/ @seanpm2001
/VHDL/Latest/ @seanpm2001
/VM/ @seanpm2001
/WAMMY/ @seanpm2001
/WOAHS-X/ @seanpm2001
/WacOS_Cloud/ @seanpm2001
/WacOS_Server/ @seanpm2001
/WacOS_X/ @seanpm2001
/WacTVOS/ @seanpm2001
/WhyPadOS/ @seanpm2001
/WhyPhoneOS/ @seanpm2001
/WhyWatchOS/ @seanpm2001
/Wiki/ @seanpm2001
/wOS/ @seanpm2001
# Files at root
.editorconfig @seanpm2001
.gitattributes @seanpm2001
.gitignore @seanpm2001
AUTHORS @seanpm2001
Android.gitignore @seanpm2001
CITATION.cff @seanpm2001
CONTRIBUTING.md @seanpm2001
COPYINGL @seanpm2001
CREDITS @seanpm2001
Codenames.md @seanpm2001
DRM-free_label.en.svg @seanpm2001
FAIR-USE.md @seanpm2001
INSTALL @seanpm2001
K.desktop @seanpm2001
LICENSE.txt @seanpm2001
MacOSIcon.png @seanpm2001
PROJECT_LANG_1.c @seanpm2001
PROJECT_LANG_10.self @seanpm2001
PROJECT_LANG_11.sh @seanpm2001
PROJECT_LANG_12.yaml @seanpm2001
PROJECT_LANG_12.yaml @seanpm2001
PROJECT_LANG_13.markdown @seanpm2001
PROJECT_LANG_14.pro @seanpm2001
PROJECT_LANG_15.php @seanpm2001
PROJECT_LANG_16.java @seanpm2001
PROJECT_LANG_17.sql @seanpm2001
PROJECT_LANG_18.rb @seanpm2001
PROJECT_LANG_19.pl @seanpm2001
PROJECT_LANG_2.cpp @seanpm2001
PROJECT_LANG_20.svg @seanpm2001
PROJECT_LANG_21.xml @seanpm2001
PROJECT_LANG_22.mk @seanpm2001
PROJECT_LANG_23.js @seanpm2001
PROJECT_LANG_24.qs @seanpm2001
PROJECT_LANG_25.desktop @seanpm2001
PROJECT_LANG_26.ini @seanpm2001
PROJECT_LANG_27.txt @seanpm2001
PROJECT_LANG_28.htm @seanpm2001
PROJECT_LANG_29.css @seanpm2001
PROJECT_LANG_3.m @seanpm2001
PROJECT_LANG_30.vtt @seanpm2001
PROJECT_LANG_31.ts @seanpm2001
PROJECT_LANG_32.metal @seanpm2001
PROJECT_LANG_33.mm @seanpm2001
PROJECT_LANG_34.rs @seanpm2001
PROJECT_LANG_35.ps @seanpm2001
PROJECT_LANG_36.tex @seanpm2001
PROJECT_LANG_37.m4 @seanpm2001
PROJECT_LANG_38.p @seanpm2001
PROJECT_LANG_39.v @seanpm2001
PROJECT_LANG_4.asm @seanpm2001
PROJECT_LANG_40.sv @seanpm2001
PROJECT_LANG_41.v @seanpm2001
PROJECT_LANG_42.st @seanpm2001
PROJECT_LANG_43.ts @seanpm2001
PROJECT_LANG_44.jspp @seanpm2001
PROJECT_LANG_45.json @seanpm2001
PROJECT_LANG_5.vhdl @seanpm2001
PROJECT_LANG_6.py @seanpm2001
PROJECT_LANG_7.swift @seanpm2001
PROJECT_LANG_8.applescript @seanpm2001
PROJECT_LANG_9.pas @seanpm2001
README.md @seanpm2001
SECURITY.md @seanpm2001
SponsorButton.png @seanpm2001
desktop.ini @seanpm2001
makefile.mk @seanpm2001
# Individual file types
*.txt @seanpm2001
*.md @seanpm2001
*.js @seanpm2001
*.ts @seanpm2001
*.py @seanpm2001
*.c @seanpm2001
*.cpp @seanpm2001
*.json @seanpm2001
*.mkd @seanpm2001
*.desktop @seanpm2001
*.ini @seanpm2001
*.editorconfig @seanpm2001
*.gitattributes @seanpm2001
*.gitignore @seanpm2001
*.png @seanpm2001
*.svg @seanpm2001
*.go @seanpm2001
*.java @seanpm2001
*.m @seanpm2001
*.applescript @seanpm2001
*.swift @seanpm2001
*.mm @seanpm2001
*.rs @seanpm2001
*.st @seanpm2001
*.jspp @seanpm2001
*.qs @seanpm2001
*.yaml @seanpm2001
*.yml @seanpm2001
# No more individual file types for now
# File info
# File type: codeowners file (CODEOWNERS)
# File version: 1 (2021, Friday, December 24th at 10:25 pm)
# Line count (including blank lines and compiler line): 179
# End of script
