# Start of script
# Sample KDE desktop entry
[Desktop Entry]
Type=Application
Exec=your-app %u
MimeType=application/x-your-mime-type;
Icon=some-icon
X-DocPath=yourapp/index.html
Terminal=false
Name=Your App
GenericName=Project language file 25
Comment=I decided to make .desktop the 25th project language file for this project (WacOS) as .desktop is one of the languages used for configuration of this project, and I am representing all project languages today (2021 Friday December 17th
Categories=Qt;KDE;
# File info
# File type: KDE desktop file (*.desktop)
# File version: 1 (Friday, December 17th at 4:44 pm)
# Line count (including blank lines and compiler line): 19
# End of script
