# Start of start
# WacOS 12.x Boot configuration file
# Start of config
# First boot
FirstBoot_Logo = "/W_Plain_HighCompression.png"
FirstBoot_Complete = "False"
BootMode = "GUI"
StartupSound = "True"
StartupSound_Location = "/"
# Normal boot
BootLogo = "/W_Modern1_HighCompression.png"
FirstBoot_Complete = "False"
BootMode = "GUI"
StartupSound = "True"
StartupSound_Location = "/"
# Custom boot
CustomBootLogo1 = "/"
CustomBootDefault = "1"
Enable_CustomBoot = "False"
BootMode = "GUI"
StartupSound = "True"
StartupSound_Location = "/"
# End of config
# File info
# File type: Boot configuration file (*.cfg)
# File version: 2 (2022, Monday, June 6th at 6:46 pm PST)
# The original file was just a duplicate of the first version of the previous WacOS versions bootconfig file. I wasn't paying enough attention.
# Line count (including blank lines and compiler line): 30
# End of script
